* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 80px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

.card-img-top {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}

#bienvenidos{
    height: 50px;
    width: 100%;
    background-color: rgb(51, 35, 35);
    color: white;
    font-size: 1em;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
  }
  
  #bienvenidos span{
    color: rgb(105, 91, 91);
  }

nav {
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    height: 60px;
    padding: 0px 50px;
}

nav a.carrito {
    display: flex;
    align-items: center;
}

nav a.carrito i {
    margin-right: 5px; 
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item  > a{
    color: #fff;
    text-decoration: none;

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.productos-container>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}

#productos-container>:hover{
    background-color: #5c2d55;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}

.card-title {
    font-family: 'Montserrat' sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.card-text {
    font-size: 20px;
    font-weight: 500;
   
}

.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;
    

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.informacion button:hover{
    background-color: #2D4263;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

 #top-rated {
    text-align: center;
    
}

 h2,#top-rated h2{
    margin: 30px 0px;
}


.container-resenias {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.resenia-item{
    border-radius: 20px;
    width: 170px;    
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    transition: all 450ms;
    transform-origin: center left;   
}

.resenia-grid{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0px 0px 40px 0px;
}

.wrapper {
    box-shadow: 0 2px 8px rgba(218, 29, 29, 0.1);
    border-radius: 10px;
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    overflow: hidden;
}

.resenia-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resenia-item-detail {
    align-items: flex-start;
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
}

.resenia-item-detail-title {
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.resenia-item-detail-title:hover {
    color: #dd72cf;
}
  
.resenia-item-detail-subtitle {
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}



 /* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2{
        font-size: 4vw;
    }
}

/* CELULARES */
@media screen and (max-width:767px){
    h2{
        font-size: 3vw;
    }

    .logo-text{
        display: none;
    }
    .login-text{
        display: none;
    }
   

    #footer{
        flex-direction: column;
        justify-content: center;
    }
}
